@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ededed;
    overflow: hidden;
    font-family: 'M PLUS Rounded 1c', 'Avenir Next', Helvetica, sans-serif;
}

.main{
    width: 350px;
    height: 600px;
    margin: 30px auto;
    border-radius: 15px;
    background-color: #f0f0f0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Mainupper {
    height: 230px;
    border: 2px solid #121212;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 13px 13px 10px 10px;
}

.upper {
    height: 150px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.result{
    color: white;
    text-align: right;
}

.input{
    color: #a060fa;
    text-align: right;
}

.button{
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 25px; 
    font-family: 'M PLUS Rounded 1c', 'Avenir Next', Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: inset 5px 5px 12px #ffffff,5px 5px 12px rgba(0,0,0,.16)
}

.button:nth-child(15), .button:nth-child(4),
.button:nth-child(8),.button:nth-child(12),.button:nth-child(16){
    color: #a060fa;
    font-size: 19px;
}

.lower{
    padding: 10px;
    margin-top: 15px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    place-items: center;
}

#ac{
    color: black;
    width: 40px;
    height: 40px;
    background-color: #a060fa;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}
