* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    text-align: center;
}

nav {
    background-color: white;
    /* margin: auto; */
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

footer {
    background-color: aqua;
    position: sticky;
    bottom: 0;
    text-align: center;
}

img {
    border-radius: 50%;
    position: relative;
    left: 55px;
    /* padding-top: 60px; */
}

.profile {
    background-color: rgb(234, 224, 224);
    height: 25rem;
    width: 25rem;
    /* display: inline; */
    border-radius: 15px;
}